.header_wrapper {
    width: 100vw;
    /* background-color: #002c15; */
    
  }
  
  .header_main {
    width: 100%;
    display: flex;
    padding: 2rem;
  
    
    align-items: center;
  }
  
  .header_logo h1 {
    font-family: Lunema;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(0deg, #002c15 0%, #c3f53c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .nav_links {
    display: flex;
    padding: 2.2rem 3.6rem;
    align-items: center;
    gap: 8rem;
    width: 30%;
    
  }
  
  .nav_links a {
    /* color: #fcfcfd; */
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 18.9px; /* 126% */
    letter-spacing: 0.28px;
    text-transform: uppercase;
    text-decoration: none;
  
  }

  .nav_links a:hover{
    color: #FF0032;
    border-bottom: 2px solid #FF0032;
  }
  
  .btn_items {
    display: flex;
    padding: 2.2rem 3.6rem;
    align-items: center;
    gap: 32px;
    cursor: pointer;
  }
  .nav_lang {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* color: #fff; */
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
  }
  
  .lang_icon {
    font-size: 2rem;
  }
  
  .join_btn {
    display: flex;
    width: fit-content;
    height: 42.75px;
    padding: 11.5px 26px 12.25px 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color:  #002C15;
    font-family: "Poppins", serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 15.75px; /* 99.684% */
    letter-spacing: 0.48px;
    text-transform: uppercase;
    border-radius: 9px;
    border: 1px solid #002c15;
    background: #40b63e;
    border: 1px solid #002C15;
    font-weight: 500;
  }
  
  .nav_mobile_icon {
    display: none;
  }
  
  .lang_changer{
    position: absolute;
    top: 6%;
    background-color: #fff;
    padding: 0;
    border-radius: 6px;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  
  .lang_item{
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    padding: 1rem 2rem;
  }
  
  .lang_item:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
  }
  
  @media only screen and (max-width: 1024px) {
    .header_wrapper {
      padding: 1.2rem 2.4rem;
    
    }
    .nav_links {
      display: none;
    }
  
    .btn_items {
      display: none;
    }
    .header_logo h1{
      font-size: 2rem;
    }
  
    .nav_mobile_icon {
      display: block;
      font-size: 3rem;
      color: #fff;
      cursor: pointer;
      /* position: fixed;
      top: 10%;
      right: 10%; */
    }
  
    .mobile_navs {
      width: 60%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      height: 100vh;
      gap: 8rem;
      padding: 6rem 2rem;
      align-items: center;
      position: fixed;
      top: 0%;
      left: 0%;
      
    }
  
    .nav_links_mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 4rem;
      align-items: center;
    }
    .nav_links_mobile a {
      color: #000;
      font-family: "Poppins", serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: 18.9px; /* 126% */
      letter-spacing: 0.28px;
      text-transform: uppercase;
      text-align: center;
    }
  
    .btn_items_mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }
    .btn_items_mobile .nav_lang_mobile {
      display: flex;
      align-items: center;
      gap: 2rem;
      color: #000;
      text-align: center;
      font-family: "Poppins", serif;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      text-transform: uppercase;
  
    }
  
  
  
    .lang_changer{
      position: absolute;
      top: 48%;
      background-color: #000;
      padding: 0;
      border-radius: 6px;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 0px;
      height: fit-content;
      z-index: 10;
      width: 60%;
      right: 20%;
      margin: 0;
    }
    
    .lang_item{
      font-size: 1.6rem;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      padding: 1rem 2rem;
    }
    
    .lang_item:hover{
      cursor: pointer;
      background-color: #fff;
      color: #000;
    }
  
    .cancel_menu{
      position: fixed;
      right: 5%;
      top: 2%;
      z-index: 100;
    }
    
  }
  