.layout_wrapper{
    width: 100%;
    display: flex;
    
    padding: 0;
    background-color: #D9D9D9;
   justify-content: space-between;
    margin: 0;
    overflow-x: hidden;
}

.sidebar_wrapper{
    width: 15%;
    padding: 0;
}
.main_wrapper{
    
    width: 81.5%;
    padding: 0;
    height: 100vh;
    margin-right: 1rem;
    
    /* overflow-y: scroll;
    scrollbar-width: none; */
    /* scrollbar-color: transparent; */

}

.topBar{
    width: 100%;
   
}