.layout_wrapper {
  width: 100%;
  display: flex;

  padding: 0;
  background-color: #d9d9d9;
  justify-content: space-between;
  margin: 0;
  overflow-x: hidden;
}

.sidebar_wrapper {
  width: 15%;
  padding: 0;
  position: fixed;
}
.main_wrapper {
  width: 80%;
  padding: 0;
  height: 100vh;
  margin-right: 0rem;
  margin: 0 auto;
  position: relative;
  left: 8%;

  /* overflow-y: scroll;
    scrollbar-width: none; */
  /* scrollbar-color: transparent; */
}

.topBar {
  width: 100%;
}

.dashboard_wrapper {
  margin-top: 16rem;
}
