.sidebar_wrapper{
    width: 100%;
    padding: 2rem;
    border-radius: 0;
    border-top-left-radius: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
    scrollbar-color: #c4c2c2 #AAB4C3;
    scrollbar-width: thin;
    border-right: 4px solid #D9D9D9;
    z-index: 20;
    
}

.title{
    margin-bottom: 5rem;
    font-weight: 700;
}
.sidebar_link{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.setting_nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 3rem;
   
}